<app-header />

<main>
    @if (isAdmin() && winnerBet()) {
        <app-bet [bet]="winnerBet()!" [disabled]="false" (update)="updateBet($event)" />
    }

    @if(!isLoading()) {
        <section>
            <p>Apostas restantes: {{ betsLeft() }} / {{ betsTotal() }}</p>
            <button mat-button (click)="createBet()" [disabled]="!betsLeft()">Criar Bilhete</button>
        </section>
        
        @for (bet of sortedBets(); track $index) {
            <app-bet [bet]="bet" [disabled]="!isBetOwnerAndNotDone(bet.userEmail)" (update)="updateBet($event)" />
        }
    }
</main>
