main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.numbers {
    display: flex;
    gap: 5px;
    width: 100%;
    justify-content: space-around;
}

.number {
    border: 1px solid black;
    border-radius: 50%;
    font-weight: bold;
    height: 30px;
    width: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}