main {
  background-color: var(--mat-sys-inverse-primary);
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-image: url('../../../../public/logo.png');
  background-size: cover;
  background-position: center center;
}

app-login-button {
  margin-top: 150px;
}
