<div class="bet">
  <img class="avatar" [src]="bet().userAvatarUrl" alt="Avatar image of bet Owner" />

  <div class="numbers">
    @for (number of bet().numbers; track $index) {
      @if (number) {
        <button [class.match]="bet().matchedNumbers?.[$index]" [class.winner]="bet().userAvatarUrl === 'result.jpg'" [disabled]="disabled()" mat-flat-button (click)="openNumberPickerDialog(bet(), number)">
          {{ number ? (number | padStart:2:'0') : '' }}
        </button>
      } @else {
        <button [disabled]="disabled()" mat-stroked-button (click)="openNumberPickerDialog(bet(), number)"></button>
      }
    }
  </div>

  <div class="actions">
    <button [disabled]="disabled()" mat-icon-button (click)="openRandomAlertModal()">
      @if (bet().userEmail && bet().userAvatarUrl !== 'result.jpg') {
        <mat-icon>autorenew</mat-icon>
      }
    </button>
    </div>
</div>